adf/arm_template/linkedTemplates/ArmTemplate_1.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "ADF-B11-ETL-DEV"
        },
        "LS_SqlServerTable_password": {
            "type": "secureString",
            "metadata": "Secure string for 'password' of 'LS_SqlServerTable'"
        },
        "LS_SqlServerTable_properties_typeProperties_server": {
            "type": "string",
            "defaultValue": "localhost"
        },
        "LS_SqlServerTable_properties_typeProperties_database": {
            "type": "string",
            "defaultValue": "vbproject"
        },
        "LS_SqlServerTable_properties_typeProperties_userName": {
            "type": "string",
            "defaultValue": "thsisdataguy"
        },
        "Tr_sample_snowflake_evt_properties_typeProperties_scope": {
            "type": "string",
            "defaultValue": "/subscriptions/3196cebb-2fa6-4fc4-8c00-05a6e7e83259/resourceGroups/VB_DEV_B11_ETL/providers/Microsoft.Storage/storageAccounts/bhumeetblobstageddev01"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/DS_SQL_PARQ')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_SQL_ADLS_PARQ",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Parquet",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "orders.parquet",
                        "folderPath": {
                            "value": "@concat('sql/',formatDateTime(utcNow(),'yyyy'),'/',formatDateTime(utcNow(),'MM'),'/',formatDateTime(utcNow(),'dd'))",
                            "type": "Expression"
                        },
                        "fileSystem": "input"
                    },
                    "compressionCodec": "snappy"
                },
                "schema": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SQL_SELLERS_PARQ')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_SQL_ADLS_PARQ",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Parquet",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "sellers.parquet",
                        "folderPath": {
                            "value": "@concat('sql/',formatDateTime(utcNow(),'yyyy'),'/',formatDateTime(utcNow(),'MM'),'/',formatDateTime(utcNow(),'dd'))",
                            "type": "Expression"
                        },
                        "fileSystem": "input"
                    },
                    "compressionCodec": "snappy"
                },
                "schema": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SFTP_PARQ')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_ADLS_devisionboardraw01",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "olist_customers_dataset.csv",
                        "folderPath": "sftp",
                        "fileSystem": "input"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SFTP_SINK_PARQ')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_SFTP_SINK_PARQ",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Parquet",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "customers.parquet",
                        "folderPath": {
                            "value": "@concat('sftp/',formatDateTime(utcNow(),'yyyy'),'/',formatDateTime(utcNow(),'MM'),'/',formatDateTime(utcNow(),'dd'))",
                            "type": "Expression"
                        },
                        "fileSystem": "input"
                    },
                    "compressionCodec": "snappy"
                },
                "schema": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SNOW_BLOB_SINK')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_BLOB_STAGE",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Parquet",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "container": "snowstage"
                    },
                    "compressionCodec": "snappy"
                },
                "schema": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SNOWFLAKE_PARQ')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_SNOWFLAKE_PARQ",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "SnowflakeV2Table",
                "schema": [],
                "typeProperties": {
                    "schema": "AZURE_INTEGRATION",
                    "table": "ORDER_ITEMS_DATASET"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SNOWSTAGE_SRC')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_BLOB_STAGE",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Parquet",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "container": "snowstage"
                    },
                    "compressionCodec": "snappy"
                },
                "schema": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SNOW_ADLS_SINK')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_SNOWFLAKE_SINK_PARQ",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Parquet",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "order_items.parquet",
                        "folderPath": {
                            "value": "@concat('snowflake/',formatDateTime(utcNow(),'yyyy'),'/',formatDateTime(utcNow(),'MM'),'/',formatDateTime(utcNow(),'dd'))",
                            "type": "Expression"
                        },
                        "fileSystem": "input"
                    },
                    "compressionCodec": "snappy"
                },
                "schema": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/LS_SqlServerTable')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "SqlServer",
                "typeProperties": {
                    "server": "[parameters('LS_SqlServerTable_properties_typeProperties_server')]",
                    "database": "[parameters('LS_SqlServerTable_properties_typeProperties_database')]",
                    "encrypt": "optional",
                    "trustServerCertificate": false,
                    "authenticationType": "SQL",
                    "userName": "[parameters('LS_SqlServerTable_properties_typeProperties_userName')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('LS_SqlServerTable_password')]"
                    }
                },
                "connectVia": {
                    "referenceName": "IR-B11-SelfHosted",
                    "type": "IntegrationRuntimeReference"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL4_1_CSV')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "LKUP_JOB_DETAILS",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "sqlReaderStoredProcedureName": "[[dbo].[vb_get_job_dtls]",
                                "storedProcedureParameters": {
                                    "TriggerName": {
                                        "type": "String",
                                        "value": {
                                            "value": "@pipeline().parameters.Trigger",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "DS_AZSQLDB_METADATA",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        }
                    },
                    {
                        "name": "SP-START-LOG-ENTRY",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "LKUP_JOB_DETAILS",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[vb_start_log_entry]",
                            "storedProcedureParameters": {
                                "jobid": {
                                    "value": {
                                        "value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
                                        "type": "Expression"
                                    },
                                    "type": "Int32"
                                },
                                "pipeline_id": {
                                    "value": {
                                        "value": "@pipeline().RunId",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_AZSQLDB_METADATA",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "SET_VAR_MAPPING",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "SP-START-LOG-ENTRY",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "mapping",
                            "value": {
                                "value": "{\"type\":\"TabularTranslator\",\"mappings\":[\n {\"source\":{\"name\":\"order_id\",\"type\":\"String\"},\"sink\":{\"name\":\"orderid\",\"physicalType\":\"UTF8\"}},\n {\"source\":{\"name\":\"payment_sequential\",\"type\":\"String\"},\"sink\":{\"name\":\"paymentsequential\",\"physicalType\":\"UTF8\"}},\n {\"source\":{\"name\":\"payment_type\",\"type\":\"String\"},\"sink\":{\"name\":\"paymenttype\",\"physicalType\":\"UTF8\"}},\n {\"source\":{\"name\":\"payment_installments\",\"type\":\"String\"},\"sink\":{\"name\":\"paymentinstallments\",\"physicalType\":\"UTF8\"}},\n {\"source\":{\"name\":\"payment_value\",\"type\":\"String\"},\"sink\":{\"name\":\"paymentvalue\",\"physicalType\":\"UTF8\"}}],\n\"typeConversion\":true,\n\"typeConversionSettings\":{\"allowDataTruncation\":true,\"treatBooleanAsNumber\":false}}",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "COPY-CSV",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "SET_VAR_MAPPING",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "value": "@json(variables('mapping'))",
                                "type": "Expression"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_AZADLS_CSVCOPY_CLOUD_SRC",
                                "type": "DatasetReference",
                                "parameters": {
                                    "storage_account_loc": "bhumeetadlsdevraw01",
                                    "container": "input",
                                    "dir": {
                                        "value": "csv",
                                        "type": "Expression"
                                    },
                                    "filename": {
                                        "value": "@activity('LKUP_JOB_DETAILS').output.firstRow.SourceFile",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_AZADLS_CSVCOPY_CLOUD_SRC_PARQ",
                                "type": "DatasetReference",
                                "parameters": {
                                    "storage_account_loc": "bhumeetadlsdevsrc001",
                                    "container": "input",
                                    "dir": {
                                        "value": "@concat('csv/',formatDateTime(utcNow(),'yyyy'),'/',formatDateTime(utcNow(),'MM'),'/',formatDateTime(utcNow(),'dd'))",
                                        "type": "Expression"
                                    },
                                    "filename": "payments.parquet"
                                }
                            }
                        ]
                    },
                    {
                        "name": "SP-SUCESS-LOG-ENTRY",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "COPY-CSV",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[vb_end_log_entry]",
                            "storedProcedureParameters": {
                                "error": {
                                    "value": null,
                                    "type": "String"
                                },
                                "jobid": {
                                    "value": {
                                        "value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
                                        "type": "Expression"
                                    },
                                    "type": "Int32"
                                },
                                "pipeline_id": {
                                    "value": {
                                        "value": "@pipeline().RunId",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_AZSQLDB_METADATA",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "SP-FAIL-LOG-ENTRY",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "COPY-CSV",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[vb_end_log_entry]",
                            "storedProcedureParameters": {
                                "error": {
                                    "value": {
                                        "value": "@activity('COPY-CSV').error.message",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                },
                                "jobid": {
                                    "value": {
                                        "value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
                                        "type": "Expression"
                                    },
                                    "type": "Int32"
                                },
                                "pipeline_id": {
                                    "value": {
                                        "value": "@pipeline().RunId",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_AZSQLDB_METADATA",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "Trigger": {
                        "type": "string"
                    }
                },
                "variables": {
                    "mapping": {
                        "type": "String"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2026-07-18T04:52:50Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL4_2_EXCEL')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "LKUP_JOB_DETAILS",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "sqlReaderStoredProcedureName": "[[dbo].[vb_get_job_dtls]",
                                "storedProcedureParameters": {
                                    "TriggerName": {
                                        "type": "String",
                                        "value": {
                                            "value": "@pipeline().parameters.Trigger",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "DS_AZSQLDB_METADATA",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        }
                    },
                    {
                        "name": "SP-START-LOG-ENTRY",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "LKUP_JOB_DETAILS",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[vb_start_log_entry]",
                            "storedProcedureParameters": {
                                "jobid": {
                                    "value": {
                                        "value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
                                        "type": "Expression"
                                    },
                                    "type": "Int32"
                                },
                                "pipeline_id": {
                                    "value": {
                                        "value": "@pipeline().RunId",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_AZSQLDB_METADATA",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "SET_VAR_MAPPING",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "SP-START-LOG-ENTRY",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "mapping",
                            "value": {
                                "value": "{\"type\":\"TabularTranslator\",\"mappings\":[\n {\"source\":{\"name\":\"review_id\",\"type\":\"String\"},\"sink\":{\"name\":\"reviewid\",\"physicalType\":\"UTF8\"}},\n {\"source\":{\"name\":\"order_id\",\"type\":\"String\"},\"sink\":{\"name\":\"orderid\",\"physicalType\":\"UTF8\"}},\n {\"source\":{\"name\":\"review_score\",\"type\":\"String\"},\"sink\":{\"name\":\"reviewscore\",\"physicalType\":\"UTF8\"}},\n {\"source\":{\"name\":\"review_comment_title\",\"type\":\"String\"},\"sink\":{\"name\":\"reviewcommenttitle\",\"physicalType\":\"UTF8\"}},\n {\"source\":{\"name\":\"review_comment_message\",\"type\":\"String\"},\"sink\":{\"name\":\"reviewcommentmessage\",\"physicalType\":\"UTF8\"}},\n {\"source\":{\"name\":\"review_creation_date\",\"type\":\"String\"},\"sink\":{\"name\":\"reviewcreationdate\",\"physicalType\":\"UTF8\"}},\n {\"source\":{\"name\":\"review_answer_timestamp\",\"type\":\"String\"},\"sink\":{\"name\":\"reviewanswertimestamp\",\"physicalType\":\"UTF8\"}}],\n\"typeConversion\":true,\n\"typeConversionSettings\":{\"allowDataTruncation\":true,\"treatBooleanAsNumber\":false}}",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "COPY-EXCEL",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "SET_VAR_MAPPING",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "ExcelSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                }
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "value": "@json(variables('mapping'))",
                                "type": "Expression"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_AZADLS_EXCELCOPY_CLOUD_SRC",
                                "type": "DatasetReference",
                                "parameters": {
                                    "storage_account_loc": {
                                        "value": "bhumeetadlsdevraw01",
                                        "type": "Expression"
                                    },
                                    "container": {
                                        "value": "input",
                                        "type": "Expression"
                                    },
                                    "dir": {
                                        "value": "excel",
                                        "type": "Expression"
                                    },
                                    "filename": {
                                        "value": "@activity('LKUP_JOB_DETAILS').output.firstRow.SourceFile",
                                        "type": "Expression"
                                    },
                                    "sheetname": {
                                        "value": "@activity('LKUP_JOB_DETAILS').output.firstRow.sheetname",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_AZADLS_CSVCOPY_CLOUD_SRC_PARQ",
                                "type": "DatasetReference",
                                "parameters": {
                                    "storage_account_loc": "bhumeetadlsdevsrc001",
                                    "container": "input",
                                    "dir": {
                                        "value": "@concat(string(activity('LKUP_JOB_DETAILS').output.firstRow.targetdirectory),'/',formatDateTime(utcNow(),'yyyy'),'/',formatDateTime(utcNow(),'MM'),'/',formatDateTime(utcNow(),'dd'))",
                                        "type": "Expression"
                                    },
                                    "filename": "reviews.parquet"
                                }
                            }
                        ]
                    },
                    {
                        "name": "SP-SUCESS-LOG-ENTRY",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "COPY-EXCEL",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[vb_end_log_entry]",
                            "storedProcedureParameters": {
                                "error": {
                                    "value": null,
                                    "type": "String"
                                },
                                "jobid": {
                                    "value": {
                                        "value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
                                        "type": "Expression"
                                    },
                                    "type": "Int32"
                                },
                                "pipeline_id": {
                                    "value": {
                                        "value": "@pipeline().RunId",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_AZSQLDB_METADATA",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "SP-FAIL-LOG-ENTRY",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "COPY-EXCEL",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[vb_end_log_entry]",
                            "storedProcedureParameters": {
                                "error": {
                                    "value": {
                                        "value": "@activity('COPY-EXCEL').error.message",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                },
                                "jobid": {
                                    "value": {
                                        "value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
                                        "type": "Expression"
                                    },
                                    "type": "Int32"
                                },
                                "pipeline_id": {
                                    "value": {
                                        "value": "@pipeline().RunId",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_AZSQLDB_METADATA",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "Trigger": {
                        "type": "string"
                    }
                },
                "variables": {
                    "mapping": {
                        "type": "String"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2026-07-18T04:52:51Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_JSON')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "COPY-JSON",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "JsonSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "JsonReadSettings"
                                }
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_JSON_Source",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_JSON_Parquet_Sink",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2026-07-17T09:59:06Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_RESTAPI')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "COPY-REST",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "RestSource",
                                "httpRequestTimeout": "00:01:40",
                                "requestInterval": "00.00:00:00.010",
                                "requestMethod": "GET",
                                "paginationRules": {
                                    "supportRFC5988": "true"
                                }
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_RestResource",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_REST_Parquet",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2026-07-17T10:04:12Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_SFTP')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "SFTP_CPY",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_SFTP_PARQ",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_SFTP_SINK_PARQ",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2026-07-17T11:33:36Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_SFTP_PARQ')]",
                "[concat(variables('factoryId'), '/datasets/DS_SFTP_SINK_PARQ')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_SNOWFLAKE')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "SNOW_CPY",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SnowflakeV2Source",
                                "exportSettings": {
                                    "type": "SnowflakeExportCopyCommand"
                                }
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobStorageWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_SNOWFLAKE_PARQ",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_SNOW_BLOB_SINK",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2026-07-17T11:49:52Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_SNOWFLAKE_PARQ')]",
                "[concat(variables('factoryId'), '/datasets/DS_SNOW_BLOB_SINK')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_BLOB_ADLS')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "BLOB_ADLS_CPY",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "ParquetSource",
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "wildcardFileName": "*.parquet",
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "ParquetReadSettings"
                                }
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings",
                                    "copyBehavior": "MergeFiles"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_SNOWSTAGE_SRC",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_SNOW_ADLS_SINK",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2026-07-17T11:58:41Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_SNOWSTAGE_SRC')]",
                "[concat(variables('factoryId'), '/datasets/DS_SNOW_ADLS_SINK')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SqlServerTable')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_SqlServerTable",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "SqlServerTable",
                "schema": [
                    {
                        "name": "order_id",
                        "type": "varchar"
                    },
                    {
                        "name": "customer_id",
                        "type": "varchar"
                    },
                    {
                        "name": "order_status",
                        "type": "varchar"
                    },
                    {
                        "name": "order_purchase_timestamp",
                        "type": "datetime2",
                        "scale": 7
                    },
                    {
                        "name": "order_approved_at",
                        "type": "datetime2",
                        "scale": 7
                    },
                    {
                        "name": "order_delivered_carrier_date",
                        "type": "datetime2",
                        "scale": 7
                    },
                    {
                        "name": "order_delivered_customer_date",
                        "type": "datetime2",
                        "scale": 7
                    },
                    {
                        "name": "order_estimated_delivery_date",
                        "type": "datetime2",
                        "scale": 7
                    }
                ],
                "typeProperties": {
                    "schema": "dbo",
                    "table": "olist_orders_dataset"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_SqlServerTable')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Tr_sample_snowflake_evt')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL_BLOB_ADLS",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "BlobEventsTrigger",
                "typeProperties": {
                    "blobPathBeginsWith": "/snowstage/blobs/",
                    "blobPathEndsWith": ".parquet",
                    "ignoreEmptyBlobs": true,
                    "scope": "[parameters('Tr_sample_snowflake_evt_properties_typeProperties_scope')]",
                    "events": [
                        "Microsoft.Storage.BlobCreated"
                    ]
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL_BLOB_ADLS')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL4_FILETYPE_CSV_EXCEL')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "LKUP_GET_FILETYPE_CSV_EXCEL",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "sqlReaderQuery": {
                                    "value": "SELECT DISTINCT L4_switch_type\nFROM dbo.vb_tbl_job a\nJOIN dbo.vb_tbl_trigger b ON a.trigger_id=b.trigger_id\nWHERE b.trigger_name='@{pipeline().parameters.Trigger}'",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "DS_AZSQLDB_METADATA",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        }
                    },
                    {
                        "name": "Switch_CSV_EXCEL_FILES",
                        "type": "Switch",
                        "dependsOn": [
                            {
                                "activity": "LKUP_GET_FILETYPE_CSV_EXCEL",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "on": {
                                "value": "@activity('LKUP_GET_FILETYPE_CSV_EXCEL').output.firstRow.L4_switch_type",
                                "type": "Expression"
                            },
                            "cases": [
                                {
                                    "value": "csv",
                                    "activities": [
                                        {
                                            "name": "EXEC_PL4_1_CSV",
                                            "type": "ExecutePipeline",
                                            "dependsOn": [],
                                            "policy": {
                                                "secureInput": false
                                            },
                                            "userProperties": [],
                                            "typeProperties": {
                                                "pipeline": {
                                                    "referenceName": "PL4_1_CSV",
                                                    "type": "PipelineReference"
                                                },
                                                "waitOnCompletion": true,
                                                "parameters": {
                                                    "Trigger": {
                                                        "value": "@pipeline().parameters.Trigger",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                },
                                {
                                    "value": "excel",
                                    "activities": [
                                        {
                                            "name": "EXEC_PL4_2_EXCEL",
                                            "type": "ExecutePipeline",
                                            "dependsOn": [],
                                            "policy": {
                                                "secureInput": false
                                            },
                                            "userProperties": [],
                                            "typeProperties": {
                                                "pipeline": {
                                                    "referenceName": "PL4_2_EXCEL",
                                                    "type": "PipelineReference"
                                                },
                                                "waitOnCompletion": true,
                                                "parameters": {
                                                    "Trigger": {
                                                        "value": "@pipeline().parameters.Trigger",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "Trigger": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2026-07-18T04:52:51Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL4_1_CSV')]",
                "[concat(variables('factoryId'), '/pipelines/PL4_2_EXCEL')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_SQL_PARQ')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "SQL_CPY",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_SqlServerTable",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_SQL_PARQ",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "SQL_CPY_SELLERS",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "SQL_CPY",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": {
                                    "value": "SELECT * FROM dbo.olist_sellers_dataset",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_SqlServerTable",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_SQL_SELLERS_PARQ",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2026-07-17T11:26:12Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_SqlServerTable')]",
                "[concat(variables('factoryId'), '/datasets/DS_SQL_PARQ')]",
                "[concat(variables('factoryId'), '/datasets/DS_SQL_SELLERS_PARQ')]"
            ]
        }
    ]
}