adf/arm_template/linkedTemplates/ArmTemplate_2.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "ADF-B11-ETL-DEV"
        },
        "Tr_sample_csv_properties_PL1_Master_parameters_Trigger": {
            "type": "string",
            "defaultValue": "Tr_sample_csv"
        },
        "Tr_sample_restApi_properties_PL1_Master_parameters_Trigger": {
            "type": "string",
            "defaultValue": "Tr_sample_restApi"
        },
        "Tr_sample_bulk_properties_PL1_Master_parameters_Trigger": {
            "type": "string",
            "defaultValue": "Tr_sample_bulk"
        },
        "Tr_sample_snowflake_properties_PL1_Master_parameters_Trigger": {
            "type": "string",
            "defaultValue": "Tr_sample_snowflake"
        },
        "Tr_sample_sql_properties_PL1_Master_parameters_Trigger": {
            "type": "string",
            "defaultValue": "Tr_sample_sql"
        },
        "Tr_sample_sftp_properties_PL1_Master_parameters_Trigger": {
            "type": "string",
            "defaultValue": "Tr_sample_sftp"
        },
        "Tr_sample_json_properties_PL1_Master_parameters_Trigger": {
            "type": "string",
            "defaultValue": "Tr_sample_json"
        },
        "Tr_sample_excel_properties_PL1_Master_parameters_Trigger": {
            "type": "string",
            "defaultValue": "Tr_sample_excel"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/PL_SQL_INCR')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "LKUP_OLD_WM",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": {
                                    "value": "SELECT WatermarkValue FROM dbo.watermarktable WHERE TableName='olist_orders_dataset'",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "DS_SqlServerTable",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        }
                    },
                    {
                        "name": "LKUP_NEW_WM",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": {
                                    "value": "SELECT MAX(modified_date) AS NewWatermarkValue FROM dbo.olist_orders_dataset",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "DS_SqlServerTable",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        }
                    },
                    {
                        "name": "COPY_INCR",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "LKUP_OLD_WM",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "LKUP_NEW_WM",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": {
                                    "value": "SELECT * FROM dbo.olist_orders_dataset\nWHERE modified_date > '@{activity('LKUP_OLD_WM').output.firstRow.WatermarkValue}'\n  AND modified_date <= '@{activity('LKUP_NEW_WM').output.firstRow.NewWatermarkValue}'",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_SqlServerTable",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_SQL_PARQ",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "SP_UPDATE_WM",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "COPY_INCR",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[usp_write_watermark]",
                            "storedProcedureParameters": {
                                "LastModifiedtime": {
                                    "value": {
                                        "value": "@activity('LKUP_NEW_WM').output.firstRow.NewWatermarkValue",
                                        "type": "Expression"
                                    },
                                    "type": "DateTime"
                                },
                                "TableName": {
                                    "value": {
                                        "value": "olist_orders_dataset",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_SqlServerTable",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2026-07-17T12:28:19Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL3_CLOUDSG_CSV_EXCEL')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "LKUP_SRC_FILES",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "sqlReaderQuery": {
                                    "value": "SELECT DISTINCT L3_switch_type\nFROM dbo.vb_tbl_job a\nJOIN dbo.vb_tbl_trigger b ON a.trigger_id=b.trigger_id\nWHERE b.trigger_name='@{pipeline().parameters.Trigger}'",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "DS_AZSQLDB_METADATA",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        }
                    },
                    {
                        "name": "Switch_SRC_LOC_CSV_EXCEL",
                        "type": "Switch",
                        "dependsOn": [
                            {
                                "activity": "LKUP_SRC_FILES",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "on": {
                                "value": "@activity('LKUP_SRC_FILES').output.firstRow.L3_switch_type",
                                "type": "Expression"
                            },
                            "cases": [
                                {
                                    "value": "Azure",
                                    "activities": [
                                        {
                                            "name": "Exec_PL4_FILETYPE",
                                            "type": "ExecutePipeline",
                                            "dependsOn": [],
                                            "policy": {
                                                "secureInput": false
                                            },
                                            "userProperties": [],
                                            "typeProperties": {
                                                "pipeline": {
                                                    "referenceName": "PL4_FILETYPE_CSV_EXCEL",
                                                    "type": "PipelineReference"
                                                },
                                                "waitOnCompletion": true,
                                                "parameters": {
                                                    "Trigger": {
                                                        "value": "@pipeline().parameters.Trigger",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "Trigger": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2026-07-18T05:10:53Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL2_RAW_DATA')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "LKUP_L2_TYPE",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "sqlReaderQuery": {
                                    "value": "SELECT DISTINCT L2_switch_type\nFROM dbo.vb_tbl_job a\nJOIN dbo.vb_tbl_trigger b ON a.trigger_id=b.trigger_id\nWHERE b.trigger_name='@{pipeline().parameters.Trigger}'",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "DS_AZSQLDB_METADATA",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        }
                    },
                    {
                        "name": "SWITCH_SOURCE",
                        "type": "Switch",
                        "dependsOn": [
                            {
                                "activity": "LKUP_L2_TYPE",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "on": {
                                "value": "@activity('LKUP_L2_TYPE').output.firstRow.L2_switch_type",
                                "type": "Expression"
                            },
                            "cases": [
                                {
                                    "value": "CloudStorage",
                                    "activities": [
                                        {
                                            "name": "EXEC_PL3_CLOUDSG_CSV_EXCEL",
                                            "type": "ExecutePipeline",
                                            "dependsOn": [],
                                            "policy": {
                                                "secureInput": false
                                            },
                                            "userProperties": [],
                                            "typeProperties": {
                                                "pipeline": {
                                                    "referenceName": "PL3_CLOUDSG_CSV_EXCEL",
                                                    "type": "PipelineReference"
                                                },
                                                "waitOnCompletion": true,
                                                "parameters": {
                                                    "Trigger": {
                                                        "value": "@pipeline().parameters.Trigger",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                },
                                {
                                    "value": "API",
                                    "activities": [
                                        {
                                            "name": "EXEC_PL_RESTAPI",
                                            "type": "ExecutePipeline",
                                            "dependsOn": [],
                                            "policy": {
                                                "secureInput": false
                                            },
                                            "userProperties": [],
                                            "typeProperties": {
                                                "pipeline": {
                                                    "referenceName": "PL_RESTAPI",
                                                    "type": "PipelineReference"
                                                },
                                                "waitOnCompletion": true,
                                                "parameters": {}
                                            }
                                        }
                                    ]
                                },
                                {
                                    "value": "json",
                                    "activities": [
                                        {
                                            "name": "EXEC_PL_JSON",
                                            "type": "ExecutePipeline",
                                            "dependsOn": [],
                                            "policy": {
                                                "secureInput": false
                                            },
                                            "userProperties": [],
                                            "typeProperties": {
                                                "pipeline": {
                                                    "referenceName": "PL_JSON",
                                                    "type": "PipelineReference"
                                                },
                                                "waitOnCompletion": true,
                                                "parameters": {}
                                            }
                                        }
                                    ]
                                },
                                {
                                    "value": "sql",
                                    "activities": [
                                        {
                                            "name": "EXEC_PL_SQL_PARQ",
                                            "type": "ExecutePipeline",
                                            "dependsOn": [],
                                            "policy": {
                                                "secureInput": false
                                            },
                                            "userProperties": [],
                                            "typeProperties": {
                                                "pipeline": {
                                                    "referenceName": "PL_SQL_PARQ",
                                                    "type": "PipelineReference"
                                                },
                                                "waitOnCompletion": true,
                                                "parameters": {}
                                            }
                                        }
                                    ]
                                },
                                {
                                    "value": "sftp",
                                    "activities": [
                                        {
                                            "name": "EXEC_PL_SFTP",
                                            "type": "ExecutePipeline",
                                            "dependsOn": [],
                                            "policy": {
                                                "secureInput": false
                                            },
                                            "userProperties": [],
                                            "typeProperties": {
                                                "pipeline": {
                                                    "referenceName": "PL_SFTP",
                                                    "type": "PipelineReference"
                                                },
                                                "waitOnCompletion": true,
                                                "parameters": {}
                                            }
                                        }
                                    ]
                                },
                                {
                                    "value": "snowflake",
                                    "activities": [
                                        {
                                            "name": "EXEC_PL_SNOWFLAKE",
                                            "type": "ExecutePipeline",
                                            "dependsOn": [],
                                            "policy": {
                                                "secureInput": false
                                            },
                                            "userProperties": [],
                                            "typeProperties": {
                                                "pipeline": {
                                                    "referenceName": "PL_SNOWFLAKE",
                                                    "type": "PipelineReference"
                                                },
                                                "waitOnCompletion": true,
                                                "parameters": {}
                                            }
                                        }
                                    ]
                                },
                                {
                                    "value": "bulk",
                                    "activities": [
                                        {
                                            "name": "WaitBulk",
                                            "type": "Wait",
                                            "dependsOn": [],
                                            "userProperties": [],
                                            "typeProperties": {
                                                "waitTimeInSeconds": 1
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "Trigger": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2026-07-17T12:10:54Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL3_CLOUDSG_CSV_EXCEL')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL1_Master')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "SET_VAR_TRIGGER",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "policy": {
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "Trigger_variable",
                            "value": {
                                "value": "@if(or(equals(pipeline().parameters.Trigger, null), equals(pipeline().parameters.Trigger, '')), pipeline().TriggerName, pipeline().parameters.Trigger)",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "EXEC_RAW_DATA",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "SET_VAR_TRIGGER",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "PL2_RAW_DATA",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "Trigger": {
                                    "value": "@variables('Trigger_variable')",
                                    "type": "Expression"
                                }
                            }
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "Trigger": {
                        "type": "string"
                    }
                },
                "variables": {
                    "Trigger_variable": {
                        "type": "String"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2026-07-17T09:59:07Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL2_RAW_DATA')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Tr_sample_csv')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL1_Master",
                            "type": "PipelineReference"
                        },
                        "parameters": {
                            "Trigger": "[parameters('Tr_sample_csv_properties_PL1_Master_parameters_Trigger')]"
                        }
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "startTime": "2026-07-17T01:00:00",
                        "timeZone": "India Standard Time",
                        "schedule": {}
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL1_Master')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Tr_sample_restApi')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL1_Master",
                            "type": "PipelineReference"
                        },
                        "parameters": {
                            "Trigger": "[parameters('Tr_sample_restApi_properties_PL1_Master_parameters_Trigger')]"
                        }
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "startTime": "2026-07-17T01:30:00",
                        "timeZone": "India Standard Time",
                        "schedule": {}
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL1_Master')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Tr_sample_bulk')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL1_Master",
                            "type": "PipelineReference"
                        },
                        "parameters": {
                            "Trigger": "[parameters('Tr_sample_bulk_properties_PL1_Master_parameters_Trigger')]"
                        }
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "startTime": "2026-07-17T02:45:00",
                        "timeZone": "India Standard Time",
                        "schedule": {}
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL1_Master')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Tr_sample_snowflake')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL1_Master",
                            "type": "PipelineReference"
                        },
                        "parameters": {
                            "Trigger": "[parameters('Tr_sample_snowflake_properties_PL1_Master_parameters_Trigger')]"
                        }
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "startTime": "2026-07-17T02:30:00",
                        "timeZone": "India Standard Time",
                        "schedule": {}
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL1_Master')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Tr_sample_sql')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL1_Master",
                            "type": "PipelineReference"
                        },
                        "parameters": {
                            "Trigger": "[parameters('Tr_sample_sql_properties_PL1_Master_parameters_Trigger')]"
                        }
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "startTime": "2026-07-17T01:45:00",
                        "timeZone": "India Standard Time",
                        "schedule": {}
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL1_Master')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Tr_sample_sftp')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL1_Master",
                            "type": "PipelineReference"
                        },
                        "parameters": {
                            "Trigger": "[parameters('Tr_sample_sftp_properties_PL1_Master_parameters_Trigger')]"
                        }
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "startTime": "2026-07-17T02:00:00",
                        "timeZone": "India Standard Time",
                        "schedule": {}
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL1_Master')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Tr_sample_json')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL1_Master",
                            "type": "PipelineReference"
                        },
                        "parameters": {
                            "Trigger": "[parameters('Tr_sample_json_properties_PL1_Master_parameters_Trigger')]"
                        }
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "startTime": "2026-07-17T02:15:00",
                        "timeZone": "India Standard Time",
                        "schedule": {}
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL1_Master')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Tr_sample_excel')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL1_Master",
                            "type": "PipelineReference"
                        },
                        "parameters": {
                            "Trigger": "[parameters('Tr_sample_excel_properties_PL1_Master_parameters_Trigger')]"
                        }
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "startTime": "2026-07-17T01:10:00",
                        "timeZone": "India Standard Time",
                        "schedule": {}
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL1_Master')]"
            ]
        }
    ]
}